*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
    #myBtn {
    display: flex; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:white;/* Set a background color */
    color: blue; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px 12px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 22px; /* Increase font size */
    
  }
    #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    }
  nav{
   
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
    
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
     color: black;
     font-size: 24px;
  }
  nav a:hover{
    background-color: rgba(165, 42, 42, 0.664);
  }
  nav li:first-child{
    margin-right: auto;
    cursor: none;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
   background-color: rgba(0, 0, 255, 0.932);
    width: 100%;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
 
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  .lastlo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
  }
  .lo{
    width: 44%;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .firstlo{
        width:16%;
      }
  .menu-button{
    display: none;
  }
h5{
  margin-left: 20px;
  margin-bottom: 10px;
  color:black;
}

.mediatop{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.topmed{
  color:red;
    font-size: 22px;
    background-color: blue;
    margin-right: 6px;
    padding-left: 2px;
    width: 70%;
    padding-right: 2px;
    border-radius: 4px;
}
.lasttitle1{
  color: white;
}
h1{
  background-image: url(../public/geography.jpg );
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  letter-spacing: 1.3px;
}
h2{
  color: brown;
  letter-spacing: 1.2px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
}
.ed{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;
}
.edall{
  text-align: center;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(165, 42, 42, 0.541);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.edall:hover{
  border: 1px solid blue;
}
.edhead{
  padding-top: 20px;
  background-color: rgba(0, 0, 255, 0.308);
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.eddetails{
  padding-top: 16px;
  font-size: 17px;
  color: #302f2f;
}

.learn{
  background: repeating-linear-gradient(brown, blue);
  height: 160px;
  color: black;
  font-weight: 900;
  padding-top: 30px;
  text-align: center;
  background-size: cover;
  letter-spacing: 1.1px;
}
.learnhead{
  font-size: 28px;

}
.learndetail{
 
  font-size: 22px;
margin-bottom: 20px;
}
.button{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
   border: 2px solid white;
   border-radius: 10px;
   text-transform: uppercase;
}
.last{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-top: 2px solid #ccc;
  background-color: rgba(165, 42, 42, 0.726);
}
.lastall{
  margin-left: 40px;
  margin-bottom: 40px;
}
.lasttitle{
  font-size: 16px;
  font-family: Verdana (sans-serif);
 color: white;
  margin-top: 2px;
  margin-bottom: 10px;
}
.las{
  list-style: none;
  color: white;
margin-left: 2px;
text-decoration: none;
font-size: 18px;
}
span{
  color: black;
}
.las:hover{
  color:blue;
}
.lastdetails{
  font-size: 18px;
  font-family: Verdana (sans-serif);
  color: white;
}
.med{
 display: none;
}

.me{
  border: 0;
  padding-left: 18px;
  color: blue;
  font-size: 20px;
}
.me:hover{
  color:rgb(226, 87, 226);
}
.med{
  border: 0;
  padding-left: 20px;
  color: blue;
  font-size: 24px;
}
.med:hover{
  color:rgb(226, 87, 226);
}
h5{
  margin-left: 20px;
  margin-bottom: 20px;
  color: #332f2fec;
}
.img1{
  width: 100%;
  margin-top: 30px;
}
.img{
  width: 100%;
  margin-top: 30px;
}


@media(max-width: 700px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display:flex;
  }
 

  }
  

@media(min-width: 700px){
  .hideOnMobile{
    display: flex;
  }
  .menu-button{
    display: none;
  }
  .ed{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .last{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    width: 100%;
    
  }
  h5{
    margin-left: 20px;
  }
  .me{
    border: 0;
    padding-left: 20px;
    color: blue;
    text-decoration: none;
    font-size: 24px;
  }
  .me:hover{
    color:rgb(226, 87, 226);
  }
  .med{
    border: 0;
    padding-left: 20px;
    color: blue;
    font-size: 24px;
    display: flex;
    text-decoration: none;
  }
  .med:hover{
    color:rgb(226, 87, 226);
  }
}
@media(min-width: 1000px){
  .sidebar{
    width: 100%;
    display: none;
    background-color: brown;
  }
    .img{
      height:350px;
    }
    .ed{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 40px;
    }
    .learn{
      float: left;
      width: 40%;
      height: 240px;
      padding-top: 100px;
      margin-left: 30px;
    }
    h2{
      width: 40%;
      margin-left: 40px;
    }
    .img{
      float: right;
      width: 50%;
      margin-top: 2px;
      margin-right: 20px;
      margin-bottom: 6px;
    }
    .img1{ 
      width: 100%;
      height: 340px;
    }
    .last{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 20px;
      width: 100%;
      height: auto;
    }
    .lastdetails{
      font-size: 18px;
    }
    .las{
      font-size: 18px;
    }
    h5{
      margin-left: 40px;
      bottom: 2px;
    }
    .lastall{
      margin-top: 20px;
    }
    .me{
      border: 0;
      padding-left: 20px;
      color: blue;
      text-decoration: none;
      font-size: 24px; 
    }
    .me:hover{
      color:rgb(226, 87, 226);
    }
    .med{
      border: 0;
      padding-left: 20px;
      color: blue;
      font-size: 24px;
      display: flex;
      text-decoration: none;
    }
    .med:hover{
      color:rgb(226, 87, 226);
    }
    
    }
