*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#myBtn {
  display: flex; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 9; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:blue;/* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  }
  #myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  }
nav{
  background-color: rgba(165, 42, 42, 0.664);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: rgba(165, 42, 42, 0.664);
}
nav li:first-child{
  margin-right: auto;
}
a:hover{
  color:white;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{ 
  display: none;
}
h1{
  background-image: url(../public/geography.jpg );
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  letter-spacing: 1.3px;
}
h2{
  margin-left: 40px;
  font-size: 28px;
  margin-top: 10px;
  letter-spacing: 1.1px; 
  font-family: Verdana (sans-serif);
  
}

iframe{
  width: 100%;
  margin-top: 10px;
}
.mess{
  margin-left: 40px;
  font-size: 19px; 
  font-family: Verdana (sans-serif);
  margin-right: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 1.35px;
  color: #312d2d;
  margin-top: 8px;
}

form{
padding-top: 30px;
height: auto;
padding-left: 20px;
margin-left:10px;
width:90%;
border-top: 2px solid brown;
border-bottom: 2px solid brown;
}
#fname{
padding: 12px 20px;
margin-right:10px;
outline: 0;
color: #312d2d;
font-size: 14px;
letter-spacing: 1.1px;
font-family: Verdana (sans-serif);
margin-bottom: 20px;
padding: 12px 20px;
width: 80%;
border: 2px solid green;
}
#lname{
  padding: 12px 20px;
width: 80%;
border: 2px solid green;
outline: 0;
color: #312d2d;
font-size: 14px;
letter-spacing: 1.1px;
font-family: Verdana (sans-serif);
}
#tel{padding: 12px 20px;
  width: 80%;
  border: 2px solid green;
outline: 0;
color: #312d2d;
font-size: 14px;
letter-spacing: 1.1px;
font-family: Verdana (sans-serif);
}
#email{
  padding: 12px 20px;
width: 80%;
margin-bottom: 20px;
border: 2px solid green;
margin-right: 10px;
margin-top: 24px;
outline: 0;
color: #312d2d;
font-size: 14px;
letter-spacing: 0.2px;
font-family: Verdana (sans-serif);
} 
#subject{
  padding: 12px 20px;
width: 80%;
border: 2px solid green;
outline: 0;
margin-top: 24px;
color: #312d2d;
font-size: 14px;
letter-spacing: 1.1px;
font-family: Verdana (sans-serif);
}
#message{
outline: 0;
margin-top: 24px;
color: #312d2d;
font-size: 16px;
letter-spacing: 1.1px;
width: 80%;
font-family: Verdana (sans-serif);
padding: 10px 16px;
border: 2px solid green;
}
#message:hover{
border: 2px solid blue;
}
#fname:hover{
border: 2px solid blue;
}
#lname:hover{
border: 2px solid blue;
}
#subject:hover{
border: 2px solid blue;
}
#tel:hover{
border: 2px solid blue;
}
#email:hover{
border: 2px solid blue;
}
.button{
margin-top: 20px;
background-color: brown;
margin-left: 20px;
padding: 10px 24px;
letter-spacing: 1.1px;
font-size: 20px;
color: white;
border: 0;
outline: 0;
margin-bottom: 20px;
}
.button:hover{
cursor: pointer;
background-color: blue;
}

.last{
display: grid;
grid-template-columns: repeat(1, 1fr);
margin-top: 30px;
width: 100%;
height: auto;
padding-top: 20px;
border-top: 2px solid #ccc;
background-color: rgba(165, 42, 42, 0.726);
}
.lastall{
margin-left: 40px;
margin-bottom: 40px;
}
.lasttitle{
font-size: 16px;
font-family: Verdana (sans-serif);
color: white;
margin-top: 2px; 
margin-bottom: 10px;
}
.las{
list-style: none;
color: white;
margin-left: 2px;
text-decoration: none;
font-size: 18px;
}
span{
color: black;
}
.las:hover{
color:blue;
}
.lastdetails{
font-size: 18px;
font-family: Verdana (sans-serif);
color: white;
}
.med{
display: none;
}

.me{
border: 0;
padding-left: 18px;
color: blue;
font-size: 20px;
}
.me:hover{
color:rgb(226, 87, 226);
}
.med{
border: 0;
padding-left: 20px;
color: blue;
font-size: 24px;
}
.med:hover{
color:black;
}
h5{
margin-left: 20px;
margin-bottom: 20px;
color: #332f2fec;
}

@media(max-width: 700px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: flex;
  }

}

@media(min-width: 700px){
 
  .menu-button{
    display: none;
  }
  
#fname{
  padding: 12px 60px;
  width: 30%;
}
#lname{
  padding: 12px 60px;
  width: 30%;
}
#email{
  padding: 12px 60px;
  width: 30%;
}
#tel{
  padding: 12px 60px;
  width: 30%;
}
.last{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  width: 100%;
  
}
h5{
  margin-left: 100px;
}
.me{
  border: 0;
  padding-left: 20px;
  color: blue;
  text-decoration: none;
  font-size: 24px;
}
.me:hover{
  color:rgb(226, 87, 226);
}
.med{
  border: 0;
  padding-left: 20px;
  color: blue;
  font-size: 24px;
  display: flex;
  text-decoration: none;
}
.med:hover{
  color:rgb(226, 87, 226);
}
}

@media(min-width: 1000px){

  .menu-button{
    display: none;
  }
  
  .last{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .lastdetails{
    font-size: 18px;
  }
  .las{
    font-size: 18px;
  }
  h5{
    margin-left: 40px;
    bottom: 2px;
  }
  .lastall{
    margin-top: 20px;
  }
  .me{
    border: 0;
    padding-left: 20px;
    color: blue;
    text-decoration: none;
    font-size: 24px;
  }
  .me:hover{
    color:rgb(226, 87, 226);
  }
  .med{
    border: 0;
    padding-left: 20px;
    color: blue;
    font-size: 24px;
    display: flex;
    text-decoration: none;
  }
  .med:hover{
    color:rgb(226, 87, 226);
  }
  
}
