*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
     #myBtn {
        display: flex; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 70px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 9; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color:white;/* Set a background color */
        color: blue; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 6px 12px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 22px; /* Increase font size */
        
        }
        #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
        }
        nav{
        
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        height: 60px;
        }
        
        nav ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }
        nav li{
        height: 50px;
        
        }
        nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 24px;
        }
        nav a:hover{
        background-color: rgba(165, 42, 42, 0.664);
        }
        nav li:first-child{
        margin-right: auto;
        cursor: none;
        }
        .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(0, 0, 255, 0.932);
        width: 100%;
        backdrop-filter: blur(12px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        
        }
        .sidebar li{
        width: 100%;
        }
        
        .sidebar a{
        width: 100%;
        }
        .menu-button{
        display: none;
        }
        .lastlo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        }
        .lo{
        width: 44%;
        margin-left: 30px;
        margin-top: 30px;
        border-radius: 10px;
        margin-bottom: 20px;
        }
        .firstlo{
        width:16%;
        }
        .menu-button{
        display: none;
        }
        h5{
        margin-left: 20px;
        margin-bottom: 10px;
        color:black;
        }
        .lasttitle1{
        font-size: 16px;
        font-family: Verdana (sans-serif);
        color:white;
        margin-top: 26px;
        margin-bottom: 8px;
        }
        .mediatop{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        }
        .topmed{
        color:red;
        font-size: 22px;
        background-color: blue;
        margin-right: 6px;
        padding-left: 2px;
        width: 70%;
        padding-right: 2px;
        border-radius: 4px;
        }
h5{
  margin-left: 20px;
  margin-bottom: 10px;
  color:black;
}
.lasttitle1{
  font-size: 16px;
  font-family: Verdana (sans-serif);
 color:white;
  margin-top: 26px; 
  margin-bottom: 8px;
}
.mediatop{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.topmed{
  color:red;
    font-size: 22px;
    background-color: blue;
    margin-right: 6px;
    padding-left: 2px;
    width: 70%;
    padding-right: 2px;
    border-radius: 4px;
}
  h1{
    background-image: url(../public/geography.jpg );
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    letter-spacing: 1.3px;
  }
  p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    letter-spacing: 1.1px;
    font-family: Verdana (sans-serif);
    line-height: 20px;
    color:#2e2c2c;
    font-size: 18px;
  }
  .event{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
  }
  .eventall{
    width:92%;
    margin-left: 20px;
    margin-top: 40px;
  }
  .img{
    width: 94%;
    height: 230px;
  }

  h2{
    margin-top: 10px;
    color: brown;
    font-weight: 800;
    margin-right: 20px;
    margin-bottom: 6px;
}
.head{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
    letter-spacing: 1.1px;
    font-family:'Times New Roman', Times, serif;
}
.time{
    font-family: Verdana (sans-serif);
    color:brown;  
    font-weight: 500;  
    font-size: 18px;
    margin-bottom: 4px;  
}
.location{
    font-family: Verdana (sans-serif);
    color:blue;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 500;  
    margin-bottom: 4px;  
}
.details{
    font-family: Verdana (sans-serif);
    color:#111010;  
    margin-bottom: 4px; 
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    font-size: 19px;
    letter-spacing: 1.8px;
    
    line-height: 20px;
}

.last{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-top: 2px solid #ccc;
  background-color: rgba(165, 42, 42, 0.726);
}
.lastall{
  margin-left: 40px;
  margin-bottom: 40px;
}
.lasttitle{
  font-size: 16px;
  font-family: Verdana (sans-serif);
 color: white;
  margin-top: 2px; 
  margin-bottom: 10px;
}
.las{
  list-style: none;
  color: white;
margin-left: 2px;
text-decoration: none;
font-size: 18px;
}
span{
  color: black;
}
.las:hover{
  color:blue;
}
.lastdetails{
  font-size: 18px;
  font-family: Verdana (sans-serif);
  color: white;
} 
.med{
 display: flex;
}

.me{
  border: 0;
  padding-left: 18px;
  color: blue;
  font-size: 20px;
}
.me:hover{
  color:black;
}
.med{
  border: 0; 
  padding-left: 20px;
  color:blue;
  font-size: 24px;
}

h5{
  margin-left: 20px;
  margin-bottom: 20px;
  color: #332f2fec;
}






  @media(max-width: 700px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display:flex;
    }
   
  
    }
    
  
  @media(min-width: 700px){
    .hideOnMobile{
      display: flex;
    }
    .menu-button{
      display: none;
    }
   nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
     color: black;
     font-size: 18px;
  }
  .firstlo{
    margin-left: 20px;
    width: 30%;
  }
  .event{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  }
     @media(min-width: 1000px){
      .sidebar{
        width: 100%;
        display: none;
        background-color: brown;
      }
      .firstlo{
        width:16%;
      }
    }
