@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana (sans-serif);
}

  body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #myBtn {
    display: flex; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:white;/* Set a background color */
    color: blue; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px 12px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 22px; /* Increase font size */
    
  }
    #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    }
  nav{
   
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
    
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
     color: white;
     font-size: 24px;
  }
  nav a:hover{
    background-color: rgba(165, 42, 42, 0.664);
  }
  nav li:first-child{
    margin-right: auto;
    cursor: none;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
   background-color: rgba(0, 0, 255, 0.932);
    width: 100%;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    
  }
  .sidebar li{
    width: 100%;
  }
 
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  .lastlo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
  }
  .lo{
    width: 44%;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .firstlo{
        width:16%;
      }
  .menu-button{
    display: none;
  }
h5{
  margin-left: 20px;
  margin-bottom: 10px;
  color:black;
}
.lasttitle1{
  font-size: 16px;
  font-family: Verdana (sans-serif);
 color:white;
  margin-top: 26px; 
  margin-bottom: 8px;
}
.mediatop{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.topmed{
  color:red;
    font-size: 22px;
    background-color: blue;
    margin-right: 6px;
    padding-left: 2px;
    width: 70%;
    padding-right: 2px;
    border-radius: 4px;
}
  h1{
    background-image: url(../public/geography.jpg);
    text-align: center;
    height: 160px;
    padding-top:50px ;
    color: white;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  .ga{
    color: #1b1a1a;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 10px;
    letter-spacing: 1.1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    
  }
  video{
    width: 100%;
  }
.img1{
  width: 90%;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
 

.last{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-top: 2px solid #ccc;
  background-color: rgba(165, 42, 42, 0.726);
}
.lastall{
  margin-left: 40px;
  margin-bottom: 40px;
}
.lasttitle{
  font-size: 16px;
  font-family: Verdana (sans-serif);
 color: white;
  margin-top: 2px; 
  margin-bottom: 10px;
}
.las{
  list-style: none;
  color: white;
margin-left: 2px;
text-decoration: none;
font-size: 18px;
}
span{
  color: black;
}
.las:hover{
  color:blue;
}
.lastdetails{
  font-size: 18px;
  font-family: Verdana (sans-serif);
  color: white;
}

.me{
  border: 0;
  padding-left: 18px;
  color: blue;
  font-size: 20px;
}
.me:hover{
  color:rgb(226, 87, 226);
}





@media(max-width: 700px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display:flex;
  }
 

  }
  

@media(min-width: 700px){
  .hideOnMobile{
    display: flex;
  }
  .menu-button{
    display: none;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
     color: black;
     font-size: 18px;
  }
  .firstlo{
    margin-left: 20px;
    width: 30%;
  }
  
  .last{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    width: 100%;
    
  }
  h5{
    margin-left: 100px;
  }
  .gal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .me{
    border: 0;
    padding-left: 20px;
    color: blue;
    text-decoration: none;
    font-size: 24px;
  }
  .me:hover{
    color:rgb(226, 87, 226);
  }
  .med{
    border: 0;
    padding-left: 20px;
    color: blue;
    font-size: 24px;
    display: flex;
    text-decoration: none;
  }
  .med:hover{
    color:rgb(226, 87, 226);
  }
  
  }
  
  @media(min-width: 1000px){
      .sidebar{
        width: 100%;
        display: none;
        background-color: brown;
      }
       .firstlo{
        width:16%;
      } 
  
   
    .last{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 20px;
      width: 100%;
      height: auto;
    }
    .lastdetails{
      font-size: 18px;
    }
    .las{
      font-size: 18px;
    }
  h5{
  margin-left: 40px;
  bottom: 2px;
  width: 100%;
}
    .lastall{
      margin-top: 20px;
    }
    .me{
      border: 0;
      padding-left: 20px;
      color: blue;
      text-decoration: none;
      font-size: 24px;
    }
    .me:hover{
      color:rgb(226, 87, 226);
    }
    .med{
      border: 0;
      padding-left: 20px;
      color: blue;
      font-size: 24px;
      display: flex;
      text-decoration: none;
    }
    .med:hover{
      color:rgb(226, 87, 226);
    }
    
  }
